.composite-video {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .composite-video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .composite-video-loading {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 18px;
        }

        .composite-video-content {
            width: 100%;
            height: 100%;

            .video {
                width: 70%;
            max-height: 400px;
            margin: 0 auto;

                video {
                    width: 100%;
                }
            }

            .btn {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 30px;
    
                button {
                    width: 100px;
                    height: 40px;
                    margin-right: 50px;
                    margin-left: 50px;
                    cursor: pointer;
                    border-radius: 10px;
                    border: none;
                    background-color: #cfe6ff;
                    color: #007bff;
                    font-size: 18px;
                    transition: all 0.2s ease-in-out;
    
                    &:hover {
                        color: white;
                        background-color: #007bff;
                    }
                }
            }
        }
    }
}