.sampleLibrary {
  width: 100%;
  // max-height: 600px;
  background-color: #f0f0f0;
  overflow: auto;
  padding: 1%;
  min-width: 800px;

  .audioList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 每行 4 个 item
    gap: 20px; // item 之间的间距
    width: 100%;

    .audioItem {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .audioInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        .up {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          width: 100%;
          

          .audioName {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
          }
        }

        .audioLanguage {
          font-size: 14px;
          color: #666666;
          margin-bottom: 5px;
        }
      }

      .playButton {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
